[Unit]
Description=The Lounge (IRC client)
Wants=default.target
After=default.target

[Service]
Type=simple
Environment=THELOUNGE_HOME=~/.thelounge
ExecStart=/usr/local/bin/thelounge start
[Install]
WantedBy=default.target
